/*Base*/

:root {
    --color-brand: #FF9F0E;
    --color-brand-background:#FFFAF3;
    --color-primary-dark: #181817;
    --color-primary-light: #FFFFFF;
    --color-secondary-brand: #FCB62A;
    --color-secondary-gray: #839AA9;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: var(--color-brand-background);
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    font-size: 56px;
}

.section {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
/*Button*/

.button {
    font-size: 18px;
    font-weight: 600;
    padding: 16px 32px 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
}

.button:hover {
    color: var(--color-secondary-brand);
    background-color: transparent;
}

/*Link*/

.link {
    color: var(--color-primary-dark);
    line-height: 1.5;
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand);
    font-weight: 600;
}

/*Header*/
.header-container {
    display: flex;
    align-items: center;
    max-width: 1288px;
    gap: 40px;
    padding: 16px 32px 16px 32px;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
        
}


/*Relationship section*/
.relationship-section {
    display: flex;
    justify-content: center;
}

.relationship-section-container {
    display: flex;
}
.relationship-section-content {
    flex-basis: calc(100%  / 2);
}

.hero-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.5;
}

.relationship-section-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Info relationship section*/
.info-relationship-section {
    display: flex;
}

.info-relationship-section-container {
    display: flex;
}

.info-relationship-section-content {
    /*flex-basis: calc(100% / 2);*/
}

.info-relationship-section-title {
    /*font-size: 56px;*/
    font-weight: 400;
    line-height: 1.5;
}

.info-relationship-section-text {
    max-width: 640px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
}


/*Service section*/
.service-section-title {
    text-align: center;
}

.service-section-container {
    display: flex;
}

.service-list {
    display: flex;
    gap: 20px;
}

.service-item {
    flex-basis: calc((100% - 40px) / 5);
    width: 240px;
    height: 240px;
}

/*.service-item:last-child {
    border: none;
}*/

.service-card {
    padding-top: 48px;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 16px;
    width: 240px;
    height: 240px;
    background-color: var(--color-primary-light);
    
}

.service-card-button{
    padding-top: 48px;
    border: 1px solid lightgray; /*delete*/
    border-radius: 16px;
    width: 240px;
    height: 240px;
}

.service-name {
    color: var(--color-brand);
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 48px;
}

.service-section-button {
    margin-top: 220px;
    color: var(--color-brand);
    text-align: center;
    background-color: transparent;
    font-size: 24px;
    border-color: var(--color-brand);
    bottom: 0;
    width: 240px;
    height: 27px;
    display: flex;
    align-items: flex-end;
}



/*Customer-section*/
.customer-section-title {
    text-align: center;
}

.customer-list{
    text-align: center;
    display: flex;
    gap: 20px;
}

.customer-item {
    flex-basis: calc((100% - 40px) / 3);
    width: 344px;
    height: 456px;
}

.customer-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;

}

.customer-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/*Contact section*/
.contact-section-title {
    text-align: center;
}

.contact-section-text {
    text-align: center;
    color: var(--color-secondary-gray);
}

.contact-section-button {
    margin: 0 auto;
    display: block;
}

/*Footer*/

.footer-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 16px 32px 16px 32px;
    height: 300px;
}

.footer-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer-menu {
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}