/*Contact section*/
.contact-section-title {
    text-align: center;
    margin-top: 130px;
    /*delete*/
}

.contact-section-text {
    text-align: center;
    color: var(--color-secondary-gray);
}

.contact-section-left {
    float: left;
    /* width: 490px;
    height: 520px;*/
    width: 250px;
    height: 250x;

}

.contact-section-right {
    float: right;
    /*width: 490px;
    height: 520px;*/
    width: 250px;
    height: 250x;
}

.contact-section-form-field {
    display: flex;
    text-align: center;
    /* flex-basis: calc (100% / 3);*/
    margin: 0 auto;
    gap: 210px;

}

.contact-section-form-field-contact-form {}

.contact-section-button {
    margin: 0 auto;
    display: block;
}